# frozen_string_literal: true

module <%= @site_module %>
  module HTMLHelpers
    def content_blocks
      @content_blocks ||= []
    end

    def title(value)
      @metadata[:title] = value
    end

    def description(value)
      @metadata[:description] = value
    end

    def p(text)
      content_blocks << {type: :paragraph, text: text}
    end
  end
end
