# frozen_string_literal: true

module <%= @site_module %>
  module HTMLHelpers
    def heading(text, level: 1)
      @content_blocks << {type: :heading, text: text, level: level}
    end

    def link(text, url)
      @content_blocks << {type: :link, text: text, url: url}
    end
  end
end
