# frozen_string_literal: true

add <%= @site_module %>::PostHelpers
view <%= @site_module %>::PostView

@metadata[:title] = "Hello World"

content_markdown <<~MD
  This is your first blog post.

  Write your content in **markdown**.
MD
